$questrial: 'Questrial', sans-serif;
$Y: #FFB400;
$W: #FFFBE0;
$B: #2994B2;
$G: #474744;


body {
	font-family: $questrial;
}

#calendar {
	color: #333;
	margin: 50px auto;
	min-width: 650px;
	min-height: 500px;
	border-collapse: collapse;

	td {
		text-align: center;
		padding: 10px;
		min-height: 100px;
		min-width: 75px;
	}

	thead {
		tr {
			&:first-child {	
				background: $B;
				color: $Y;
				td {
					padding-left: 35px;
					height: 75px;
					text-align: left;
					vertical-align: bottom;
					font-size: 50px;

					span {
						font-size: 20px;
						color: $G;
					}
				}
			}
			&:nth-child(2) {
				background-color: $G;
				color: $W;
			}
		}


	}

	tbody {
		background-color: $Y;
		color: $G;
		tr {
			&:first-child {
				td {
					padding-top: 25px;
				}
			}
		}
		td {
			text-align: right;
			vertical-align: top;
			&.empty {
				border: none;
			}
			&.current-date {
				background: $G;
				color: $Y;
			}

			&:hover { 
				background: $G;
				color: $W;
				cursor: pointer;
			}
		}
	}
}

controls {
	position: relative;
	display: block;
	max-width: 600px;
	margin: 25px auto;
	zoom: 1;
	clear: both;

	span {
		transform: scale(1);
		transition: transform 0.2s ease-out;
		font-size: 30px;

		&#next-month {
			float: right;
		}

		&#prev-month {
			float: left;
		}

		&:hover {
			cursor: pointer;
			transform: scale(1.5);
		}
	}
}

