#calendar {
	margin: 50px auto;
	width: 600px;
	height: 400px;
	border-collapse: collapse;

	td {
		text-align: center;
	}

	tbody {
		td {
			width: 14%;
			padding: 10px;
			text-align: center;
			vertical-align: middle;
			&.empty {
				border: none;
			}
		}
	}
}

controls {
	position: relative;
	display: block;
	max-width: 600px;
	margin: 25px auto;
	zoom: 1;
	clear: both;

	span {
		transform: scale(1);
		transition: transform 0.2s ease-out;
		font-size: 30px;
		
		&#next-month {
			float: right;
		}

		&#prev-month {
			float: left;
		}

		&:hover {
			cursor: pointer;
			transform: scale(1.5);
		}
	}
}

